a {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

h1 {
  font-family: century gothic;
  font-size: 32px;
  color: black;
}

h4 {
  margin: 0em;
  font-family: century gothic;
}

body {
  margin: 0px;
  font-family: century gothic;
  font-weight: 400;
  font-size: .96rem;
  color: #6c756d;
  text-align: justify;
  width: 100%;
}

.footer{
  display: block;
}

.section {
  margin: 15em 16em;
  line-height: 1.5;
  height: auto;
  overflow: hidden;
}

.container {
  height: auto;
  width: 100%;
}

.container-left {
  float: left;
  width: 45%;
  height: auto;
}

.container-right {
  float: right;
  width: 45%;
  height: auto;
}

#logo {
  width: 7%;
  height: auto;
  float: right;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.no-wrap {
  white-space: nowrap;
}

.nav-btn {
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  float: left;
  vertical-align: middle;
  position: relative;
  top: 11px;
  left: 10px
}

header {
  position: absolute;
  top: 0px;
  background-color: #189ad3;
  width: 100%;
  z-index: 5;
  height: 65px;
}

#company-name{
  color: white;
  font-size: 50px;
  text-align: center;
}

.contentinfo{
  padding: 3em;
  background-color: #189ad3;
}

h3{
  font-size: 20px;
  color: white;
}

.rights{
  text-align: center;
}

.btn_top{
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  margin-left: 45%;
}

.btn-outline:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}

.btn_website{
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  padding: 40px 90px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  margin-left: 45%;
  margin-right: 45%;
  margin: 1.5% 36%;
  background-color: #189ad3;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn_website:hover{
  color: black;
  /*color: white;*/
  background: #fff;
  border-color: #000;
}
