/* Tags */

:root { /*light theme color scheme, which is selected by default*/
    --font-color: #6c756d;
    --bg-color: #fff; /*background color*/
    --h1-color: black;
    --h2-color: black;
    --h3-color: black;
    --h4-color: black;
    --h5-color: black;
    --h6-color: black;
    --footer-color: #189ad3; /*footer color*/
}

[data-theme="dark"] { /*dark theme color scheme, which can be manually selected in the top right hand corner*/
  --font-color: #fff;
  --bg-color: #0f0f0f;
  --h1-color: #fff;
  --h2-color: #fff;
  --h3-color: #fff;
  --h4-color: #fff;
  --h5-color: #fff;
  --h6-color: #fff;
  --footer-color: #0a0a0a;
}


header {
  position: absolute; /*positiones an element relativly to the nearest object*/
  top: 0px; /*sets the gap on the top of an elemnt to 0px, relatively to its nearest positioned object*/
  width: 100%;
  z-index: 5; /*defines how elements are stacked on top of each other, one with a higher z-index is always in front of an element with a lower one*/
  height: 65px; /*height of the element*/
}

body {
  margin: 0%; /* to remove white border*/
  font-family: century gothic; /*font*/
  font-weight: 400; /*defines how bold the text is*/
  font-size: .96rem; /* size of text*/
  color: var(--font-color); /* color, which changes when you toggle dark-mode*/
  background-color: var(--bg-color);   /* background-color, which changes when you toggle dark-mode*/
  text-align: justify;  /* alignment of the text*/
  width: 100%;  /* width */
}

footer {
  display: block;
}

a {
  text-transform: uppercase; /* capital letters  */
  letter-spacing: .2em; /* space between letters */
  color: white; /* color */
  font-size: 1.25rem; /* size */
  text-decoration: none;
}

h1 {
  font-size: 50px; /* size */
  color: var(--h1-color); /* changing color */
}

h3 {
  font-size: 20px; /* size */
  color: var(--h3-color); /* changing color */
}

h4 {
  color: var(--h4-color);
  font-weight: bold;
}

/* ID's */

#company-name { /* name of the company */
  color: white; /* color */
  font-size: 50px; /* size */
  text-align: center; /* alignment */
}

#hendrik {
  width: 100%;
  height: auto;
}

#marco {
  width: 80%;
  height: auto;
}

/* Classes */

/* Toggle Dark-Mode*/
.theme-switch-wrapper { /* slider for toggle dark-mode */
  float: right; /* alignment right */
  margin: 1%;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch { /* slider for toggle dark-mode */
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input { /* slider for toggle dark-mode */
  display:none;
}

.slider { /* slider for toggle dark-mode */
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before { /* slider for toggle dark-mode */
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider { /* slider for toggle dark-mode */
  background-color: #66bb6a;
}

input:checked + .slider:before { /* slider for toggle dark-mode */
  transform: translateX(26px);
}

.slider.round { /* slider for toggle dark-mode */
  border-radius: 34px;
}

.slider.round:before { /* slider for toggle dark-mode */
  border-radius: 50%;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* setting order */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* to hide scrollbar */
  padding-top: 60px; /*  */
  transition: 0.5s; /* transition needs 0.5 sec */
}

.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.no-wrap {
  white-space: nowrap; /* to prevent ugly opening */
}

.nav-btn {
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: relative;
  top: 10px;
  left: 10px
}

/* Picture of photographer*/
.picture {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpapers.co%2Fwallpaper%2Fpapers.co-mk51-city-night-skyline-architecture-river-dark-35-3840x2160-4k-wallpaper.jpg&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}

/* Name of our company */
.company {
  font-size: 150px;
  color: white;
  text-align: center;
  padding-top: 20%;
  font-family: century gothic;
}

/* Slogan of our company */
.slogan {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 6em;
  font-family: century gothic;
}

/* Layout */

.section {
  margin: 7em 16em;
  line-height: 1.5;
  height: auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
}

.container-left {
  float: left;
  width: 45%
}

.container-right {
  float: right;
  width: 45%
}

/* second section */
.Gründer {
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
}


/* footer */
.contentinfo {
  padding: 3em;
  background-color: var(--footer-color);
  border-top: 5px;
  border-width: 5px;
  border-color: #fff;

}
 /* all rights are reserved */
.rights {
  text-align: center;
}

/* button to reach top*/
.btn_top {
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  display: block;
  margin: 0% 44%;
  text-align: center;
}

/* changing look when you go over the button*/
.btn_outline:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}
