nav {
    display: flex;
    background-color: #189ad3;
    width: 100%;
    z-index: 5;
}
a {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}
.navigation {
  padding-right: 15px;
  padding-left: 30px;
  transition: background-color 500ms;
  background-color: transparent;
}
.navigation:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
h1 {
  font-size: 32px;
  color: black;
}
h2 {
  font-size: 24px;
  color: black;
}
h4 {
  margin: 0em;
}
body {
  margin: 0px;
  font-family: Times;
  font-weight: 400;
  font-size: .96rem;
  color: black;
  text-align: justify;
  width: 100%;
}
#logo {
  width: 7%;
  height: auto;
  float: right;
}
.page {
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 10%;
}
.abstand {
padding-top: 10px;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.no-wrap {
  white-space: nowrap;
}

.nav-btn {
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  float: left;
  vertical-align: middle;
  position: relative;
  top: 11px;
  left: 10px
}


#company-name{
  color: white;
  font-size: 50px;
  text-align: center;
}

header {
  position: absolute;
  top: 0px;
  background-color: #189ad3;
  width: 100%;
  z-index: 5;
  height: 65px;
}
