body {
  font-size: 80%;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.15em;
}
#page {
  background-color: #ffffff;
}
#logo {
  width: 200px;
  margin: 10px auto 10px auto;
}
ul {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
li {
  display: inline;
  margin: 0px 3px;
}
a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover, a.on {
  color: #cc3333;
  background-color: #ffffff;
}
  .gallery{
    margin: 10px 10px;
  }
  .gallery img{
    padding: 5px;
    transition: 1s;
  }
  .gallery img:hover{
    transform: scale(1.015);
  }
