/* Tags */
/*compare to stylesheet_index.css*/
:root {
    --font-color: #6c756d;
    --bg-color: #fff;
    --h1-color: black;
    --h2-color: black;
    --h3-color: black;
    --h4-color: black;
    --h5-color: black;
    --h6-color: black;
    --footer-color: #189ad3;
    --header-color: #189ad3;
}

[data-theme="dark"] {
  --font-color: #fff;
  --bg-color: #0f0f0f;
  --h1-color: #fff;
  --h2-color: #fff;
  --h3-color: #fff;
  --h4-color: #fff;
  --h5-color: #fff;
  --h6-color: #fff;
  --footer-color: #0a0a0a;
  --header-color: #0a0a0a;
}

header {
  position: absolute;
  top: 0px;
  background-color: var(--header-color);
  width: 100%;
  z-index: 5;
  height: 65px;
}

body {
  margin: 0px;
  font-family: century gothic;
  font-weight: 400;
  font-size: .96rem;
  color: var(--font-color);
  background-color: var(--bg-color);
  text-align: justify;
  width: 100%;
}

footer {
  display: block;
}

a {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  color: var(--h1-color);
}

h2 {
  font-size: 24px;
  color: var(--h2-color);
}

h3{
  color: var(--h3-color);
}

h4 {
  margin: 0em;
  color: var(--h4-color);
}


/* ID's */

#company-name {
  color: white;
  font-size: 50px;
  text-align: center;
}

#title {
  color: black;
  height: auto;
  margin-top: 5%;
}

#logo {
  width: 7%;
  height: auto;
  float: right;
}


/* Classes */

/* Dark Mode */
.theme-switch-wrapper {
  float: right;
  margin: 1%;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.no-wrap {
  white-space: nowrap;
}

.nav-btn {
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  float: left;
  vertical-align: middle;
  position: relative;
  top: 11px;
  left: 10px
}

/* Layout */
.section {
  margin: 7em 16em;
  line-height: 1.5;
  height: auto;
  overflow: hidden;
}

/*Space between informations*/
.gap {
padding-top: 10px;
}

/* Footer */
.contentinfo {
  padding: 3em;
  background-color: var(--footer-color);
}

.rights {
  text-align: center;
}

.btn_top {
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  display: block;
  margin: 0% 44%;
  text-align: center;
}

.btn_outline:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}
