/* Tags */

header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 5;
  height: 65px;
}

body {
  margin: 0px;
  font-family: century gothic;
  font-weight: 400;
  font-size: .96rem;
  color: #6c756d;
  text-align: justify;
  width: 100%
}

footer{
  display: block;
}

a {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  color: black;
}

h3{
  font-size: 20px;
  color: white;
}

/* ID's */

#company-name{
  color: white;
  font-size: 50px;
  text-align: center;
}

/* Classes */

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navigation-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.no-wrap {
  white-space: nowrap;
}

.nav-btn {
  height: 100%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: relative;
  top: 10px;
  left: 10px
}

/* Picture of photographer*/
.picture {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpapers.co%2Fwallpaper%2Fpapers.co-mk51-city-night-skyline-architecture-river-dark-35-3840x2160-4k-wallpaper.jpg&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}

/* Name of our company */
.company {
  font-size: 150px;
  color: white;
  text-align: center;
  padding-top: 20%;
  font-family: century gothic;
}

/* Slogan of our company */
.slogan {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 6em;
  font-family: century gothic;
}

/* Layout */
.section {
  margin: 7em 16em;
  line-height: 1.5;
  height: auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
}

.container-left {
  float: left;
  width: 45%
}

.container-right {
  float: right;
  width: 45%
}

/* second section */
.Gründer {
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
}

.CEO{
  color: black;
  font-weight: bold;
}

/* footer */
.contentinfo{
  padding: 3em;
  background-color: #189ad3;
}

.rights{
  text-align: center;
}

.btn_top{
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  margin-left: 45%;
}

.btn-outline:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}
