body {
  margin: 10px 10px 10px 10px;
}
.gallery {
  width: 100%;
}
.gallery img{
  padding: 5px;
  transition: 1s;
}
.gallery img:hover{
  transform: scale(1.015)
}
img {
  width: 32.659%;
  height: 400px;
}
